<strong>Olá, {{student}}!</strong>
<p style="margin-bottom: -15px;"><strong>No {{date}} você nos enviou a seguinte mensagem:</strong></p>
<p><i>"{{question}}"</i></p>
<p style="margin-bottom: -15px;"><strong>Nossa resposta:</strong></p>
<p>{{answer}}</p>
